/*nosotros*/

.fhistoria {
    @include flex-columna;
    background-color: $color-terciario;
    margin: $espacioMedio;
    padding: $espacioMedio;

    h2,
    h3 {
        background-color: $color-secundario;
        padding: $espacioXchico;
    }

}

.fhistoria {
    .colaboradores {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: $espacioMedio;
    margin: $espacioMedio;
}
}

@media (min-width: 725px) and (max-width: 892px) {

    .fhistoria {
        .colaboradores {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: $espacioMedio;
        margin: $espacioMedio;
        }
    }

}

@media (min-width: 590px) and (max-width: 724px) {
    .fhistoria {
        .colaboradores {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: $espacioMedio;
        margin: $espacioMedio;
        }
    }
}

@media (min-width: 485px) and (max-width: 589px) {

    .fhistoria {
        .colaboradores {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: $espacioMedio;
        margin: $espacioMedio;
        }
    }
}

@media (min-width: 320px) and (max-width: 485px) {
 
    .fhistoria {
        .colaboradores {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: $espacioMedio;
        margin: $espacioMedio;
        }
    }
}



